/* public/style/style.css */

body {
    font-family: Arial, sans-serif;
    background: rgb(140, 158, 252);
    background: radial-gradient(circle, rgba(140, 158, 252, 1) 0%, rgba(130, 188, 255, 1) 51%, rgba(149, 244, 250, 1) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    color: #333;
    font-size: 30px;
}

.form-container {
    margin: 2px 0;
}

form input,
form button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}

.product-list-container {
    overflow-y: auto;
    max-height: 200px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #eee;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.list-item {
    cursor: pointer;
}

.list-item:hover{
    background-color: #ababab;
}